@model IEnumerable<Tenant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="col-6 mb-2">
    <a  asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Create New Tenant
    </a>
</div>
    @* <a asp-action="Create" class="btn btn-primary">Create New</a> *@

<table class="table table-bordered table-striped">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.TenantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.TenantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedTime)
            </td>
            <td >
                    <a asp-action="Edit" asp-route-id="@item.TenantId" class="btn btn-primary m-1 btn-block">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.TenantId" class="btn btn-warning m-1 btn-block">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.TenantId" class="btn btn-danger m-1 btn-block">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
